<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>智能语音外呼管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/style/admin.css" media="all">
  <link rel="icon" href="/images/favicon.ico" />
</head>
<body class="layui-layout-body">

  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
          </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
          <li>
          	<div style="display: none">
          		<audio src="/audiojs/msg.mp3" preload="auto" id="music"/>
          	 </div>
          </li>

          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="fullscreen">
              <i class="layui-icon layui-icon-screen-full"></i>
            </a>
          </li>

          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;">
              <cite id="cite_login_name"></cite>
            </a>
            <dl class="layui-nav-child">
              <!--
              	<dd><a lay-href="set/user/info.html">基本资料</a></dd>
              	<dd><a lay-href="set/user/password.html">修改密码</a></dd>
              	<hr>
               -->
              <dd id="btn-logout" style="text-align: center;"><a>退出</a></dd>
            </dl>
          </li>
        </ul>
      </div>

      <!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo" lay-href="/views/component/scenes.html">
            <span>智能语音外呼管理系统</span>
          </div>

          <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
            <li data-name="home" class="layui-nav-item layui-nav-itemed">
               <a href="javascript:;" lay-href="/views/component/scenes.html" lay-tips="主页" lay-direction="2">
                <i class="layui-icon layui-icon-auz"></i>
                <cite>主页</cite>
              </a>
            </li>

            <li data-name="component" class="layui-nav-item">
              <a href="javascript:;" lay-tips="外呼场景" lay-direction="2">
                <i class="layui-icon layui-icon-component"></i>
                <cite>外呼场景</cite>
              </a>
              <dl class="layui-nav-child">
                <dd data-name="scenes-customer">
                  	<a lay-href="/views/component/scenes/scenes-customer.html">传统新客户</a>
                </dd>
                <dd data-name="scenes-market">
                 	<a lay-href="/views/component/scenes/scenes-market.html">转市场下单</a>
               	</dd>
                <dd data-name="scenes-cost">
                 	 <a lay-href="/views/component/scenes/scenes-cost.html">费用问题</a>
                </dd>
                 <dd data-name="scenes-new-service">
                 	 <a lay-href="/views/component/scenes/scenes-new-service.html">智能客服新客户</a>
                </dd>
                <dd data-name="scenes-car">
                  	<a lay-href="/views/component/scenes/scenes-car.html">专车提前派送</a>
                </dd>
                <dd data-name="scenes-car">
                  <a lay-href="/views/component/scenes/scenes-waitinfosend.html">等市场通知派送</a>
                </dd>
                <!--
                <dd data-name="scenes-pdd">
                 	 <a lay-href="component/scenes/scenes-pdd.html">拼多多新客户</a>
                </dd>
                 -->
                <dd data-name="scenes-work.html">
                  	<a lay-href="/views/component/scenes/scenes-work.html">工单超时催单</a>
                </dd>
              </dl>
            </li>

            <li data-name="user" class="layui-nav-item">
              <a href="javascript:;" lay-tips="用户管理" lay-direction="2">
                <i class="layui-icon layui-icon-user"></i>
                <cite>数据报表</cite>
              </a>
              <dl class="layui-nav-child">
                <!--<dd>-->
                  <!--<a lay-href="/views/component/reports/reports-collect.html">汇总报表</a>-->
                <!--</dd>-->
                <!--<dd>-->
                  <!--<a lay-href="/views/component/reports/reports-state.html">状态报表</a>-->
                <!--</dd>-->
                <dd>
                  <a lay-href="/views/component/reports/reports-detail.html">明细报表</a>
                </dd>
                <dd>
                  <a lay-href="/views/component/reports/reports-unusual.html">异常报表</a>
                </dd>

              </dl>
            </li>

            <li data-name="user" class="layui-nav-item">
              <a href="javascript:;" lay-tips="用户管理" lay-direction="2">
                <i class="layui-icon layui-icon-user"></i>
                <cite>用户管理</cite>
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a lay-href="/views/component/user/user-list.html">用户管理</a>
                </dd>
              </dl>
            </li>
            <!--
            <li data-name="set" class="layui-nav-item">
              <a href="javascript:;" lay-tips="系统设置" lay-direction="2">
                <i class="layui-icon layui-icon-set"></i>
                <cite>设系统置</cite>
              </a>
              <dl class="layui-nav-child">
                <dd class="layui-nav-itemed">
                   <a lay-href="component/undone.html">系统设置</a>
                </dd>
              </dl>
            </li>
             -->
          </ul>
        </div>
      </div>

      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="/views/component/scenes.html" lay-attr="/views/component/scenes.html" class="layui-this">
            	<i class="layui-icon layui-icon-home"></i>
            </li>
          </ul>
        </div>
      </div>


      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="/views/component/scenes.html" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>

      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>

<script src="/layui/layui.js"></script>
<script src="/audiojs/audio.min.js"></script>
<script>
	layui.config({
		base : '/' //静态资源所在路径
	}).extend({
		index : 'lib/index' //主入口模块
	}).use('index', function() {
	    var $   = layui.$
	    ,setter = layui.setter
	    ,audio  = null
	    ,heartBeatId =  "";


	    // 验证是否登录
	    if (layui.data(layui.setter.tableName).user == null){
	    	location.href = '/views/login.html';
	    } else {
	    	$("#cite_login_name").html(layui.data(layui.setter.tableName).user.name);

	    	// 若在响铃人员组,则提示
	    	var inGroup = layui.data(layui.setter.tableName).user.inGroup;
	    	if (inGroup) {
		    	// 初始化audio
		    	audio = document.getElementById('music');
		    	audio.pause();

		    	// 启动轮训任务
		    	setTimeout(function () {
		    		startHeartBeat();
		    	}, 1000)
	    	}
	    }


	    $(document).on('click','#btn-logout',function(){
	    	layui.data(setter.tableName,null);
	    	location.href = '/views/login.html';
	    });

	    audiojs.events.ready(function() {
	    	var as  = audiojs.createAll();
	   });

	   function startHeartBeat(){
	    	heartBeatId = setInterval(function () {
	           sendHeartBeatIQ();
	        }, 5 * 1000);
	   };

	   function sendHeartBeatIQ(){
	    	$.ajax({
    			type: 'POST',
    			contentType: 'application/json;charset=utf-8',
    			url:  layui.setter.serverURL +　'/calloutException/countException',
    			data: JSON.stringify("{}"),
    			dataType : "json",
    			success: function(result) {
    				if ('0' == result.code) {
    					var count = result.data;
    					if (count > 0){
    						 audio.play();
    					}
    				}
    			}
    	   });
	   }

	   function stopHeartBeat(){
	    	if(heartBeatId){
	    		clearInterval(heartBeatId);
	    	}
	    };
	});
</script>
</body>
</html>


